.red {
    background-color: red;
}
.theme-color {
    background-color: #4F4371;
}
.users > .md-button{
    width: 100%;
}
.selected > button {
    font-weight: bold;
}
md-icon {
    margin-right: 10px;
}
.wrapper {
    padding: 0 25px;
}
.avatar {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}
.posts {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;

}
.post-detail-wrapper {
    display: flex;
    justify-content: space-between;
}
.comment {
    padding: 20px;
    background-color: #F6F6F6;
    margin: 5px 0;
}
#content {
    display: flex;
    flex-flow: row wrap;
}
.photo-gallery {
    width: calc(100%/3);
}
.wrapper {
    width: calc(200%/3);
}
.album {
    padding: 20px;
}
.photo {
    width: 33%;
    padding: 3px;
}
