h1 {
    margin: 0;
    padding: 10px 0 10px 10px;
}
h1 span {
    color: #6FD3BA;
}
.logged-user-container {
}
.logged-user-container > button {
    background-color: transparent;
    border: none;
}
.users button {
    width: 100%;
    background-color: transparent;
    border: none;
}
.users {
    position: relative;
}
.users:after {
    content: '>';
    color: #fff;
    position: absolute;
    width: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: calc(50% - 10px);
    right: 0;
}
.users:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    border: 1px solid #fff;
    background-color: #6FD3BA;
}
.clear-fix {
    clear: both;
}
.red {
    background-color: red;
}
.theme-color {
    background-color: #4F4371;
    color: #fff;
    border-bottom: 1px solid lightgray;
}
.users > .md-button{
    width: 100%;
}
.selected > button {
    font-weight: bold;
}
md-icon {
    margin-right: 10px;
}
.wrapper {
    padding: 0 25px;
}
.avatar {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}
.posts {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;

}
.post-detail-wrapper {
    display: flex;
    justify-content: space-between;
}
.comment {
    padding: 20px;
    background-color: #F6F6F6;
    margin: 5px 0;
}
#content:before {
    content: '';
    position: absolute;
    background-color: #4F4371;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;

}
.photo-gallery {
    width: calc(100%/3);
}
.wrapper {
    width: calc(200%/3);
}
.album {
    padding: 20px;
}
.photo {
    width: 33%;
    padding: 3px;
}

.logged-user-container {
    position: relative;
}
#logged-user {
    padding: 20px 50px;
    border-left: 1px solid lightgray;
}
.down-arrow {
    margin-top: 50px;
    width: 0;
    height: 0;
    border: 5px solid #fff;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

#user-dropdown-menu {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #6FD3BA;
    color: #000;
    padding: 15px;
}

#user-dropdown-menu:before {
    content: '';
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid #6FD3BA;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
